@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;500;700&display=swap");

* {
  font-family: "Jura", sans-serif;
  font-weight: 500;
}

body {
  padding-top: 70px;
}

.dark-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#hero .container {
  height: 50vh;
  min-height: 400px;
}
.icon {
  font-size: 3rem;
}
